
/* stilos para el login*/
#login-dp{ 
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(222,222,222,.8);
}
#login-dp .help-block{
    font-size:12px    
}

.shadow{
    -webkit-box-shadow: 9px 7px 58px -8px rgba(0,0,0,0.75);
-moz-box-shadow: 9px 7px 58px -8px rgba(0,0,0,0.75);
box-shadow: 9px 7px 58px -8px rgba(0,0,0,0.75);
}

/*Estilos para paneles de proyectos en dashboard principal*/


.panel-image img.panel-image-preview {
    width: 100%;
    border-radius: 4px 4px 0px 0px;
}

.panel-heading ~ .panel-image img.panel-image-preview {
    border-radius: 0px;
}

.panel-image ~ .panel-body, .panel-image.hide-panel-body ~ .panel-body {
    overflow: hidden;
}
.panel-image ~ .panel-footer a {
    padding: 0px 10px;
    font-size: 1.3em;
    color: rgb(100, 100, 100);
}

.panel-image.hide-panel-body ~ .panel-body {
    height: 0px;
    padding: 0px;
}

/*stilos para los Thumnails*/
/*    
body {
  padding-top: 0px;
}
 
      
.thumbnail {
    position:relative;
    overflow:hidden;
}
 
.caption {
    position:absolute;
    top:-100%;
    right:0;
    background:rgba(66, 139, 202, 0.75);
    width:100%;
    height:100%;
    padding:2%;
    text-align:center;
    color:#fff !important;
    z-index:2;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.thumbnail:hover .caption {
    top:0%;
}
*/